<section class="content">
<%= form_for @profile do |f| %>
    <p><%= f.label :first_name %><br />
    <%= f.text_field :first_name %></p>

    <p><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></p>

    <p><%= f.label :date_of_birthday %><br />
    <%= f.text_field :date_of_birthday %></p>

    <p><%= f.label :sex %><br />
    <%= f.text_field :sex %></p>

    <p><%= f.label :country %><br />
    <%= f.text_field :country %></p>

    <p><%= f.label :city %><br />
    <%= f.text_field :city %></p>

    <p><%= f.label :phone %>
    <%= f.text_field :phone %></p>

     <%= f.submit "Send Profile"%>
<% end %>
</section>