<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main_styles/devise' %>
<% end %>
<section class="content">
  <h2>Resend confirmation instructions</h2>
  <%= image_tag("email.jpg", :alt => "email", :id => "image_devise" ) %>
  
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
  
    <%= f.label :email %><br />
    <%= f.email_field :email %><br />
  
    <%= f.submit "Resend confirmation instructions" %>
  <% end %>
  
  <div id="links"><%= render :partial => "devise/shared/links" %></div>
</section>