<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main_styles/devise' %>
<% end %>
<section class="content">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= image_tag("sign_up.jpg",:alt => "sing up", :id => "image_devise")%>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %><br />
  <%= f.email_field :email %><br />

  <%= f.label :password %> <br />
  <%= f.password_field :password %><br />

  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />

  <%= f.label :current_password %> <br />
  <%= f.password_field :current_password %><br />

  <%= f.submit "Update" %>
<% end %>

<h3>Cancel my account</h3>
Unhappy? <%= link_to "Cancel my account |", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>
<%= link_to "Back", :back %>
</section>
