<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main_styles/home' %>
<% end %>
<div id="avatar"></div>
<% if user.id == current_user.id %>
  <%= render "edit_profile" %>
<% else %>
  <%= render "profile", :profile => user.profile %>
<% end %>
<div id="microposts">
  <% user.microposts.each do |micropost| %>
  <div class="micropost">
    <div class="sender"><%= micropost.user %></div>
    <div class="messager"><%= micropost.content %></div>
  </div>
  <% end %>
</div>
