<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main_styles/devise' %>
<% end %>
<section class="content">
  <h2>Change your password</h2>
  <%= image_tag("forgot_password.jpg",:alt => "forgot password", :id => "image_devise") %>  
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    
    <%= f.label :password, "New password" %><br />
    <%= f.password_field :password %><br />
    
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation %><br />
    
    <%= f.submit "Change my password" %>
  <% end %>
  
  <div id="links"><%= render :partial => "devise/shared/links" %></div>
</section>