<header>
  <nav>    
    <div><%= link_to "Home",root_path %></div>
    <div><%= link_to "Friends", "#" %></div>
    <div><%= link_to "Photos", "#" %></div>
    <div><%= link_to "Information", edit_profile_path %></div>
    <div><%= link_to "Settings", edit_user_registration_path %></div>
    <div><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>    
  </nav>
</header>